{% load static %}
 <!-- JAVASCRIPT -->
 <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
 <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
 <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
 <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
 <!-- pace js -->
 <script src="{% static 'assets/libs/pace-js/pace.min.js' %}"></script>

 <script src="{% static 'assets/js/pages/pass-addon.init.js' %}"></script>