{% load static %}

<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>

                <li>
                    <a href="/dashboard/">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/payouts/">
                        <i class="mdi mdi-bank-transfer-out font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Payouts</span>
                    </a>
                </li>
                <li>
                    <a href="/collect/">
                        <i class="mdi mdi-bank-transfer-in font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Collect</span>
                    </a>
                </li>
                <li>
                    <a href="/cards/">
                        <i class="mdi mdi mdi-credit-card-multiple font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Cards</span>
                    </a>
                </li>
                <li>
                    <a href="/loans/">
                        <i class="mdi mdi-hand-coin-outline font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Loans</span>
                    </a>
                </li>
                <li>
                    <a href="/utility_payments/">
                        <i class="mdi mdi-script-text font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Utility Payments</span>
                    </a>
                </li>
                <li>
                    <a href="/contactbook/">
                        <i class="mdi mdi-notebook font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Contact Book</span>
                    </a>
                </li>
                <li>
                    <a href="/statements/">
                        <i class="mdi mdi-swap-horizontal font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Statements</span>
                    </a>
                </li>
                <li>
                    <a href="/settlements/">
                        <i class="mdi mdi mdi-handshake font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Settlements</span>
                    </a>
                </li>
                <li>
                    <a href="/invoices/">
                        <i class="mdi mdi-text-box font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Invoices</span>
                    </a>
                </li>
                <li>
                    <a href="/device/">
                         <i class="mdi mdi-devices font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Marchants Devices</span>
                    </a>
                </li>
                <li>
                    <a href="/profile/">
                        <i class="mdi mdi mdi-face-man font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">Profile</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                        <i data-feather="layout"></i>
                        <span data-key="t-horizontal">Add Account</span>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="/logout/">
                        <i class="mdi mdi-logout font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">LogOut</span>
                    </a>
                </li> -->

                <!-- <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="grid"></i>
                        <span data-key="t-apps">Apps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="apps-calendar.html">
                                <span data-key="t-calendar">Calendar</span>
                            </a>
                        </li>

                        <li>
                            <a href="apps-chat.html">
                                <span data-key="t-chat">Chat</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-email">Email</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="apps-email-inbox.html" data-key="t-inbox">Inbox</a></li>
                                <li><a href="apps-email-read.html" data-key="t-read-email">Read Email</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-invoices">Invoices</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="apps-invoices-list.html" data-key="t-invoice-list">Invoice List</a></li>
                                <li><a href="apps-invoices-detail.html" data-key="t-invoice-detail">Invoice Detail</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-contacts">Contacts</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="apps-contacts-grid.html" data-key="t-user-grid">User Grid</a></li>
                                <li><a href="apps-contacts-list.html" data-key="t-user-list">User List</a></li>
                                <li><a href="apps-contacts-profile.html" data-key="t-profile">Profile</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="">
                                <span data-key="t-blog">Blog</span>
                                <span class="badge rounded-pill badge-soft-danger float-end" key="t-new">New</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="apps-blog-grid.html" data-key="t-blog-grid">Blog Grid</a></li>
                                <li><a href="apps-blog-list.html" data-key="t-blog-list">Blog List</a></li>
                                <li><a href="apps-blog-detail.html" data-key="t-blog-details">Blog Details</a></li>
                            </ul>
                        </li>
                    </ul>
                </li> -->

               

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
