{% load static %}
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>
            {% block title %}{% endblock %} | sfitech
          </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="sfitech" name="description" />
        <meta content="sfitech" name="author" />
        <link rel="shortcut icon" href="{% static 'assets/images/brands/logo-m.png' %}">
        <!-- App favicon -->

        <!-- Responsive datatable examples -->
        <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> 
        
        <link href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css">
        <!-- plugin css -->
        <link href="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />

        <!-- preloader css -->
        <link rel="stylesheet" href="{% static 'assets/css/preloader.min.css' %}" type="text/css" />
        <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock stylesheets %}
    </head>

    <body data-bs-theme="dark" class="pace-done" data-sidebar-size="lg" data-topbar="dark" data-sidebar="dark">
        <div id="layout-wrapper">
            {% include "includes/navigation.html" %}
            {% include "includes/sidenav.html" %}
            {% block content %}{% endblock content %}
            {% include "includes/scripts.html" %}
        </div>
        <div class="rightbar-overlay"></div>
       
        {% block javascripts %}
        {% endblock javascripts %}
        <script src="{% static 'assets/js/sweetalerts.js' %}"></script>
        <!-- Sweet Alerts js -->
        <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>

        <!-- Sweet alert init js-->
        <script src="{% static 'assets/js/pages/sweetalert.init.js' %}"></script>
    </body>

</html>