{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Dashboard|siftech {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

<div class="my-5 pt-5">
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8">
                <div>
                    <img src="{% static 'assets/images/flags/coming soon.png' %}" alt="" class="img-fluid">
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}

{% endblock javascripts %}